{% extends "base.html" %}
{% block main %}

<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-3">
      <h3>Here's some data I made up.</h3>
      A {{ n_rows }}x{{ n_cols }} matrix of various distributions.
    </div>
    <div class="col-sm-3">
      <h3>The table is really Pandas.</h3>
      The table over there was created using the DataFrame's <span
        style="font-family:'Courier New', Courier, monospace">
        .describe()</span>method. <span style="font-family:'Courier New', Courier, monospace">
        .to_hmtl()</span> is used to create the actual table HTML.
    </div>
    <div class="col-sm-3">
      <h3>Bokeh is for browsers.</h3>
      The plot was created using Bokeh: the whole library is based around rendering HTML and JavaScript so it's pretty
      straightforward to get the plot to show up here.
    </div>
    <div class="col-sm-3">
      <h3>Designed with Bootstrap.</h3>
      <a href="https://getbootstrap.com/">Bootstrap</a> is a simple front-end library which looks  good out of the box. Like Bokeh, it's also responsive: try resizing the page.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <h2>Statistics</h2>
      {{ table_data }}
    </div>
    <div class="col-sm-4 text-center">
      <h2>Lines</h2>
      {{ plot_div_1 }}
    </div>
    <div class="col-sm-4 text-center">
      <h2>Histogram</h2>
      {{ plot_div_2 }}
      <div class="text-center">
      </div>
      <table style="width:100%">
        <tr>
          <th>Column</th>
          <th>Selected Total</th>
        </tr>
        <tr>
          <td>Gaussian</td>
          <td id="hist_ave_gauss">-</td>
        </tr>
        <tr>
          <td>Pareto</td>
          <td id="hist_ave_pareto">-</td>
        </tr>
        <tr>
          <td>Sine</td>
          <td id="hist_ave_sine">-</td>
        </tr>
      </table> 
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 20px;">
  <div class="card-footer text-muted">
    Generated at {{ datestr }}
  </div>
</div>
{% endblock %}